__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesisfs

# Data & Models (Exclude heavy files from build context to speed up upload)
# We might need the BEST model, but not all checkpoints.
# For Cloud Run, we usually COPY the model into the container.
# Make sure 'models/' is included if we need pre-trained models.
# outputs/ can be ignored as it's for local visualization.

# outputs/ (Required for Cloud Run Persistence)
# Uncomment below if you download large datasets locally
# data/
